$white: #ffffff;
$black: #000000;
$bg-white: #f5f5f5;
$light-brown: #ddbc95;
$dark-brown: #b38867;
$ceramic: #cdcdc0;
$grey: #626d71;
$strawberry: #cb0000;
$delete-button: #ef0000;
$success: #009933;
